@page "/addclock"
@inject ClockService ClockService

<div class="clock form">
    <EditForm Model="_newClock" OnValidSubmit="OnOK">
        <DataAnnotationsValidator />
        <div class="name">
            <span class="caption">表示名</span>
            <span class="input-field">
                <input type="text" @bind="_newClock.Name" autofocus />
            </span>
        </div>
        <div class="time-zone">
            <span class="caption">タイムゾーン</span>
            <span class="input-field">
                <select @bind="_newClock.TimeZoneId">
                    @foreach (var zone in TimeZoneInfo.GetSystemTimeZones())
                    {
                        <option value="@zone.Id">@zone</option>
                    }
                </select>
            </span>
        </div>
        <div class="error-message">
            <ValidationSummary></ValidationSummary>
        </div>
        <div class="actions">
            <button class="button">OK</button>
        </div>
    </EditForm>
</div>

@code
{
    private Clock _newClock = new();

    private async Task OnOK()
    {
        await this.ClockService.AddClockAsync(_newClock);
        _newClock = new();
    }
}
