@inject ClockService ClockService

@foreach (var clock in _clocks)
{
    <div @key="clock.Id" class="clock">
        <div class="name">
            <span class="value">@clock.Name</span>
        </div>
        <div class="current-time">
            <span class="value">@clock.GetCurrentTime().ToString("MM/dd HH:mm:ss")</span>
        </div>
        <div class="time-zone">
            <span class="caption">タイムゾーン</span>
            <span class="value">@clock.TimeZoneId</span>
        </div>
    </div>
}
@code
{
    private IEnumerable<Clock> _clocks = [];

    protected override async Task OnInitializedAsync()
    {
        _clocks = await this.ClockService.GetClocksAsync();
    }
}
