@page "/"

@using System.Timers

@implements IDisposable
@inject ClockService ClockService
@inject NavigationManager NavigationManager

@foreach (var clock in _clocks)
{
    <div @key="clock.Id" class="clock">
        <div class="name">
            <span class="value">@clock.Name</span>
        </div>
        <div class="current-time">
            <span class="value">@clock.GetCurrentTime().ToString("MM/dd HH:mm:ss")</span>
        </div>
        <div class="time-zone">
            <span class="caption">タイムゾーン</span>
            <span class="value">@clock.TimeZoneId</span>
        </div>
        <div class="actions">
            <button class="button edit-button" @onclick="() => this.OnClickEdit(clock)">
                編集
            </button>
        </div>
    </div>
}

<div>
    <a class="button" href="./addclock">時計の追加</a>
</div>

@code
{
    private IEnumerable<Clock> _clocks = [];

    private readonly Timer _timer = new(interval: 1000);

    protected override async Task OnInitializedAsync()
    {
        _clocks = await this.ClockService.GetClocksAsync();
        _timer.Elapsed += this.OnTick;
        _timer.Start();
    }

    private void OnClickEdit(Clock clock)
    {
        this.NavigationManager.NavigateTo($"./editclock/{clock.Id}");
    }

    private void OnTick(object? sender, ElapsedEventArgs e)
    {
        this.StateHasChanged();
    }

    public void Dispose()
    {
        _timer.Elapsed -= this.OnTick;
        _timer.Dispose();
    }
}
