@page "/"
@using System.Timers
@implements IDisposable
@inject ClockService ClockService
@inject NavigationManager NavigationManager

@foreach (var clock in this.Clocks)
{
    <div @key="clock.Id" class="clock">
        <div class="name">
            <span class="value">@clock.Name</span>
        </div>
        <div class="current-time">
            <span class="value">@clock.GetCurrentTime().ToString("MM/dd HH:mm:ss")</span>
        </div>
        <div class="time-zone">
            <span class="caption">タイムゾーン</span>
            <span class="value">@clock.TimeZoneId</span>
        </div>
        <div class="actions">
            <button class="button edit-button" @onclick="() => this.OnClickEdit(clock)">
                編集
            </button>
        </div>
    </div>
}

<div>
    <a class="button" href="./addnew">時計の追加</a>
</div>

@code
{
    private IEnumerable<Clock> Clocks = Enumerable.Empty<Clock>();

    private Timer Timer = new(interval: 1000);

    protected override async Task OnInitializedAsync()
    {
        this.Clocks = await this.ClockService.GetClocksAsync();

        this.Timer.Elapsed += this.Timer_Elapsed;
        this.Timer.Start();
    }

    private void Timer_Elapsed(object? sender, ElapsedEventArgs e)
    {
        this.StateHasChanged();
    }

    private void OnClickEdit(Clock clock)
    {
        this.NavigationManager.NavigateTo($"./edit/{clock.Id}");
    }

    public void Dispose()
    {
        this.Timer.Elapsed -= this.Timer_Elapsed;
        this.Timer.Dispose();
    }
}
